!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title= t(:receipt)
    = stylesheet_link_tag "html-receipt"
    = stylesheet_link_tag "html-receipt" , :media => "print"
  %body{onload: "self.print()"}
    .receipt
      #header
        = render :partial => "print/receipt_header"
      .info
        - date = @order.ordered_on || @order.ordered_on
        =l(date.to_date) 
        /
        =t(:order)
        =@order.number
        %br/
      .wrapper
        .line_items
          %table.line_items
            %tbody
              - @order.basket.items.each do |i|
                %tr
                  %td.cell= i.product.name
                  %td.cell.qty= i.quantity
                  %td.cell.total= euros i.total
        .spacer
           
        .totals
          = render :partial => "print/totals_receipt"
      .footer
        = render :partial => "print/receipt_footer"
