.receipt
  #receipt-header
    = render :partial => "orders/receipt_header"
  .receipt-info
    - date = @order.ordered_on || @order.ordered_on
    =l(date.to_date)
    /
    =t(:order)
    =@order.number
    %br/
  .receipt-wrapper
    .receipt-line_items
      %table.receipt-line_items
        %thead
          %tr
            %th Producto
            %th Cantidad
            %th Total
        %tbody
          - @order.basket.items.each do |i|
            %tr
              %td.receipt-cell= i.product.full_name
              %td.receipt-cell.receipt-qty= i.quantity
              %td.receipt-cell.receipt-total= euros i.total
    .spacer
       
    .receipt-totals
      %table.receipt-totals
        %tbody
          %tr
            %td.receipt-cel1.bold
              %strong= t(:order_total)
            %td.receipt-cel2.cell{align: "right"}
              %strong
                %span#receipt-summary-order-total= euros @order.total_price
          %tr
            %td.receipt-cel1
            %td.receipt-cel2
          -@order.taxes.each do |tax_rate , amount|
            %tr.receipt-total.hide
              %td.receipt-cel1.bold.hide
                = t(:vat) + " " + tax_rate.to_s + " % "
              %td.receipt-cel2.receipt-cell.hide{align: "right"}= euros amount
  .receipt-footer
    = render :partial => "orders/receipt_footer"
